@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  select {
    background-position: right 0.75rem center !important;
  }
}

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(-1000px) scale(1.5);
      opacity: 0;
    }
  }

  .animate-bubble {
    animation: float 15s infinite ease-in;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .animate-bubble {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
  }
}
